Library/BookRentalClient/Connected Services/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Library" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookService_viewBookData_InputMessage">
    <wsdl:part name="parameters" element="tns:viewBookData" />
  </wsdl:message>
  <wsdl:message name="IBookService_viewBookData_OutputMessage">
    <wsdl:part name="parameters" element="tns:viewBookDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_addBookData_InputMessage">
    <wsdl:part name="parameters" element="tns:addBookData" />
  </wsdl:message>
  <wsdl:message name="IBookService_addBookData_OutputMessage">
    <wsdl:part name="parameters" element="tns:addBookDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookService">
    <wsdl:operation name="viewBookData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/viewBookData" message="tns:IBookService_viewBookData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/viewBookDataResponse" message="tns:IBookService_viewBookData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addBookData">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/addBookData" message="tns:IBookService_addBookData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/addBookDataResponse" message="tns:IBookService_addBookData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookService" type="tns:IBookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="viewBookData">
      <soap:operation soapAction="http://tempuri.org/IBookService/viewBookData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBookData">
      <soap:operation soapAction="http://tempuri.org/IBookService/addBookData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port name="BasicHttpBinding_IBookService" binding="tns:BasicHttpBinding_IBookService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Library/BookService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>